<div class="container main-container mt-5">
  <div class="row text-center">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/vendedores.jpeg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Vendedores</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/vendedores']" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/Brasil.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Estados</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/lojas']" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/papelaria.jpeg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Produtos</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/produtos']" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>

