<div class="d-flex align-items-center vh-100 bg-fundo">
	<div class="mx-auto p-5 bg-cadastro">
		<form class="form-signin my-2" >
			<h1 class="h3 mb-5  text-center">Cadastro de Usuário</h1>
			<input type="email" id="username" class="form-control" placeholder="Usuário" name="username" required>
			<input type="password" id="password" class="form-control mt-4" placeholder="Senha" name="password" required>
      <input type="password" class="form-control mt-4" placeholder="Digite uma Senha" required/>
      <div class="row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label p-1">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="row text-center">
        <div class="form-group col-12">
          <button type="button" class="btn btn-lg btn-success btn-block px-5 mt-4" style="width: 70%;">
            Registar
          </button>
        </div>
      </div>
		</form>
	</div>


