<div class="d-flex align-items-center vh-100 bg-fundo">
	<div class="mx-auto p-5 bg-login">
		<form class="form-signin  my-2">
			<h1 class="h3 mb-5  text-center">Login</h1>
			<input type="email" id="username" class="form-control" placeholder="Usuário" name="username" required>
			<input type="password" id="password" class="form-control mt-4" placeholder="Senha" name="password" required>
      <div class="checkbox mt-4">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label for="flexCheckDefault" class="mx-2">Lembrar-me</label>
      </div>
      <div class="text-center">
        <button class="btn btn-lg btn-primary btn-block mt-4 text-center px-4" style="width: 70%;" type="submit" routerLink="/estado">Entrar</button>
        <p class="mt-4 mb-2 text-muted  text-center">Não tem login? Cadastre-se abaixo</p>
        <a class="link" routerLink="/user/cadastro">Quero me cadastrar</a>
      </div>
		</form>
	</div>
</div>


