<div class="d-flex  item__principal pt-2">
  <div class="container main-container mt-2 mb-5">
    <div class="row text-center">
      <div class="col-lg-4 col-md-6 ">
        <div class="card h-100 card-interno">
          <img class="card-img-top" src="/assets/vendedores.jpeg" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">Produtos</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/vendedores']" class="btn btn-primary">Saiba mais</a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-6">
        <div class="card h-100 card-interno">
          <div class="card-body">
            <h4 class="card-title text-center">Média de vendas de produtos por Estado</h4>
            <div class="container main-container mt-5">
              <div class="row text-center">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Canetas</th>
                      <th scope="col">Lápis</th>
                      <th scope="col">Total de vendas</th>
                      <th scope="col">Vendas mensal</th>
                      <th scope="col">Vendas diária</th>
                      <th scope="col">Evolução de vendas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>1150</td>
                      <td>2500</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>800</td>
                      <td>2270</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>730</td>
                      <td>1985</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>729</td>
                      <td>1853</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>698</td>
                      <td>1426</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                    <tr>
                      <th scope="row">6</th>
                      <td>508</td>
                      <td>1325</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                    <tr>
                      <th scope="row">7</th>
                      <td>350</td>
                      <td>980</td>
                      <td>258</td>
                      <td>258</td>
                      <td>258</td>
                      <td>5%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ">
        <div class="card h-100 card-interno">
          <div class="card-body">
            <h4 class="card-title">Vendas de Hoje</h4>
            <p class="card-text-maior">5.800,00<i class="fa fa-usd ml-5" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 ">
        <div class="card h-100 card-interno">
          <div class="card-body">
            <h4 class="card-title">Rendimento Mensal</h4>
            <p class="card-text-maior">5.800,00<i class="fa fa-pie-chart ml-5" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card h-100 card-interno">
          <div class="card-body">
            <h4 class="card-title">Média Diaria</h4>
            <p class="card-text-maior">5.800,00<i class="fa fa-calendar ml-5" aria-hidden="true"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

