<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm menu-top" *ngIf="showMenu()">
    <a class="navbar-brand logo-tipo" routerLink="dashboard"> EMPRESA </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ranking
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/estado']" >Estados</a>
        <a class="dropdown-item" [routerLink]="['/produto']">Produtos</a>
        <a class="dropdown-item" [routerLink]="['/vendedor']">Vendedores</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <!-- <ul class="navbar-nav ml-auto">
        <div class="submit-line">
          <input type="text" placeholder="buscar"/>
          <button class="submit-lente" type="submit">
            <i class="fa fa-search icone"></i>
          </button>
        </div>
      </ul> -->
      <ul class="navbar-nav ml-auto icone" >
        <li class="">
          <i class="fa fa-envelope " aria-hidden="true"></i>
        </li>
        <li class="mx-4">
          <i class="fa fa-bell " aria-hidden="true"></i>
        </li>
        <li class="ml-5">
          <i class="fa fa-user-circle-o mr-2" aria-hidden="true" ></i> <span style="font-size: 16px;">Esdras Correa</span>
        </li>
        <li class="ml-4">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </nav>
</div>

